@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans KR";
  background-color: black;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  padding: 0 auto;
  height: 96px;
  border-bottom: 1px solid rgb(75, 75, 75);
  background-color: black;
}

nav,
.headerTitle {
  width: 1000px;
  margin: 0 auto;
}

nav {
  height: 44px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  color: rgb(209, 209, 209);
}

.logo {
  fill: rgb(231, 231, 231);
  cursor: pointer;
}

li {
  list-style: none;
  float: left;
  cursor: pointer;
  margin-left: 20px;
}

ul > li:first-child {
  margin: 0;
}

li:hover {
  color: #fff;
}

.icon > a > img {
  width: 16px;
}

.headerTitle {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle > h3 {
  font-size: 21px;
  margin-top: -1px;
}

.employ {
  margin-top: -1px;
  background-color: #0071e3;
  color: #fdfdfd;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  background: #0071e3;
  color: #fff;
  border-radius: 980px;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.05em;
  padding: 5px 11px 4px 11px;
  border: none;
}

.main {
  flex: 1;
  width: 100vw;
  padding-top: 96px;
  background-color: #161617;
  transform: translateX(0);
  transition: transform 1s;
}

.about {
  background-color: black;
}

.aboutTop,
.aboutBottom {
  width: 100%;
  height: fit-content;
}

.aboutTop {
  padding-top: 45px;
}

.aboutTop > h2 {
  width: 1000px;
  text-align: center;
  font-size: 72px;
  line-height: 1;
  font-weight: 600;
  color: #fbfbfb;
  margin: auto;
  text-align: left;
}

.aboutPic {
  position: relative;
  margin: auto;
  margin-top: 92px;
  width: 770px;
  height: 562px;
  overflow: hidden;
}

.aboutPic > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 1)
  );
}

.aboutPic > img {
  position: absolute;
  right: -180px;
  bottom: -60px;
  width: 120%;
  animation: moveUp 4s forwards;
}

@keyframes moveUp {
  from {
    opacity: 0;
    bottom: -200px;
  }
  to {
    opacity: 1;
    bottom: -60px;
  }
}

.aboutBottom {
  background-color: #161617;
  padding-top: 84px;
  padding-bottom: 10px;
  text-align: center;
}

.aboutBottom > h2 {
  font-size: 32px;
  color: #cecece;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 0.004em;
  margin: auto;
}

.aboutBottom > p {
  line-height: 1.5;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.012em;
  color: #86868b;
  margin-top: 15px;
}

.aboutEmploy {
  margin-top: 36px;
  margin-bottom: 16px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 600;
  padding: 10px 16px 8px 16px;
}

.project {
  margin: 74px auto 180px auto;
  width: 1000px;
  height: fit-content;
}

.personalProject,
.Cooperation {
  display: grid;
  width: 100%;
  height: fit-content;
  row-gap: 24px;
  column-gap: 20px;
}

.personalProject {
  grid-template: "a b" 320px "a c" 320px / 3fr 2fr;
}

.travel,
.fm,
.toy,
.doling,
.yoohoo {
  overflow: hidden;
  border-radius: 25px;
  background-color: black;
  position: relative;
}

.travel {
  grid-area: a;
  text-align: center;
}

.coverTitle {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(180deg, #91d6f6, #085988);
  will-change: transform;
  overflow: hidden;
  margin-top: 0;
  padding-top: 36px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
  font-size: 40px;
  font-weight: 600;
}

.travel-cover {
  filter: brightness(80%);
  position: absolute;

  opacity: 0;
  top: 300px;
  /* top: 100px; */
  left: 0;
  width: 111%;
  height: 550px;
  background-size: 111% 550px;
  background-repeat: no-repeat;
  background-image: url(./images/travel/Cover_travel.png);
  margin: 0 auto;
}

.fm-cover {
  filter: brightness(75%);
  position: absolute;
  opacity: 0;
  top: 70px;
  right: -30%;
  width: 80%;
  height: 210px;
  background-size: 80% 210px;
  background-repeat: no-repeat;
  background-image: url(./images/fm/Cover_fm.png);
}

.toy-cover {
  filter: brightness(90%);
  position: absolute;
  opacity: 0;
  top: 36px;
  left: 28px;
  width: 100%;
  height: 180px;
  background-size: 100% 180px;
  background-repeat: no-repeat;
  background-image: url(./images/toy/Cover_toy.png);
}

.yoohoo-cover {
  filter: brightness(50%);
  position: absolute;
  opacity: 0;
  bottom: -50px;
  right: -30px;
  width: 82%;
  height: 220px;
  background-size: 82% 220px;
  background-repeat: no-repeat;
  background-image: url(./images/yoohoo/Cover_yoohoo.png);
}

.fm {
  grid-area: b;
}

.fmTitle {
  position: absolute;
  bottom: 27px;
  left: 42px;
  opacity: 1;
  color: #cecece;
  font-size: 24px;
  letter-spacing: 0.009em;
  line-height: 1.4;
  z-index: 4;
}

.toy {
  text-align: left;
  grid-area: c;
}

.toyTitle {
  padding-top: 0;
  margin-left: 28px;
  margin-top: 21px;
}

.Cooperation {
  margin-top: 24px;
  grid-template: "d e" 320px / 2fr 3fr;
}

.doling {
  grid-area: d;
}

.dolingTitle {
  padding: 0;
  align-items: center;
  display: flex !important;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  line-height: 1.3;
}

.dolingsubTitle {
  padding: 0;
  transform: translate(-75px, 0px);
  font-size: 24px;
}

.doling > h3 > strong {
  text-align: right;
  line-height: 1;
  font-weight: 600;
  display: block;
  transform: translate(-16px, 8px);
}

.fontSize {
  padding: 0;
  font-size: 72px;
}

.fontColor {
  display: inline-block;
  position: relative;
}

.yoohoo {
  grid-area: e;
}

.yoohooTitle {
  position: absolute;
  top: 14px;
  left: 32px;
  opacity: 1;
  z-index: 1;
  color: #cecece;
  text-align: center;
  width: fit-content;
  text-align: left;
}

.yoohooTitle > p {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.3;
  font-size: 24px;
}

.yoohooTitle > h3 {
  padding-top: 6px;
  padding-bottom: 10px;
  line-height: 1.2;
  font-size: 40px;
}

.grad {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: -1px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 1)
  );
}

.gradHigh {
  height: 100%;
}

.arrow {
  cursor: pointer;
  position: absolute;
  background-color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  bottom: 20px;
  opacity: 0;
  right: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-rounded {
  margin-right: -2px;
}

.skills {
  width: 1000px;
  height: fit-content;
  margin: auto;
}

.skills > h2 {
  color: #cecece;
  line-height: 1.2;
  font-size: 52px;
}

.skillGrid {
  width: 100%;
  height: fit-content;
  margin-top: 90px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: grid;
  color: #f5f5f7;
  font-size: 17px;
  grid-template-columns: repeat(12, 1fr);
}

.design,
.database,
.develop {
  grid-column: span 3;
  position: relative;
  box-sizing: border-box;
  line-height: 1.6;
  height: 512px;
  background-color: #000000;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.develop {
  grid-column: span 6;
}

.skillsTitle {
  padding: 58px 30px;
  color: #f5f5f7;
  line-height: 1.4;
  font-size: 17px;
}

.skillsTitle > h3 {
  font-size: 28px;
  line-height: 1.25;
  margin-bottom: 20px;
}

.skillsPic > figure {
  width: 100px;
  height: 100px;
  margin: auto;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  filter: grayscale(20%);
}

.skillsPic {
  filter: brightness(75%);
  height: fit-content;
  width: 100%;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translate(-50%, 0);
}

.designFigure {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Adobe_XD_CC_icon.svg/192px-Adobe_XD_CC_icon.svg.png);
}

.databaseFigure {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/GraphQL_Logo.svg/375px-GraphQL_Logo.svg.png);
}

.develop > .skillsPic > figure {
  margin: 0;
  position: absolute;
}

.HTMLFigure {
  bottom: 90px;
  left: 25%;
  transform: translate(-50%, 0);
  background-image: url(./images/HTML.png);
}

.CSSFigure {
  bottom: -20px;
  left: 25%;
  transform: translate(-50%, 0);
  background-image: url(./images/CSS.png);
}

.JSFigure {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translate(-50%, 50%);
  background-image: url(./images/마스크\ 그룹\ 1.png);
}

.RFigure {
  bottom: 90px;
  left: 75%;
  transform: translate(-50%, 0);
  background-image: url(./images/React.png);
}

.RNFigure {
  bottom: -20px;
  left: 75%;
  transform: translate(-50%, 0);
  background-image: url(./images/RN.png);
}

.finish {
  margin: auto;
  margin-top: 136px;
  width: 1000px;
  border-bottom: 1px solid rgb(75, 75, 75);
  border-top: 1px solid rgb(75, 75, 75);
  line-height: 1.6;
  font-size: 14px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mail,
.notion {
  height: 195px;
  padding-top: 56px;
  padding-bottom: 56px;
  font-size: 13px;
}

.mail > figure,
.notion > figure {
  width: 100%;
  height: 56px;
  background-size: 100% 56px;
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/ac/globalfooter/8/ko_KR/assets/ac-buystrip/help/icon_dark_large.svg);
  margin: 0 auto;
  color: #86868b;
}

.notion > figure {
  background-image: url(https://www.apple.com/ac/globalfooter/8/ko_KR/assets/ac-buystrip/engraving/icon_large.svg);
}

.mail > h3,
.notion > h3 {
  line-height: 1.3;
  font-size: 18px;
  letter-spacing: 0.012em;
  margin-top: 10px;
}

.mail > p,
.notion > p {
  margin-top: 6px;
}

.mail > a,
.notion > a {
  margin: auto;
  width: fit-content;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2997ff;
  margin-top: 11px;
  text-decoration: none;
}

footer {
  width: 100%;
  height: fit-content;
  padding-top: 29px;
  padding-bottom: 21px;
  background-color: #161617;
}

footer > div {
  width: 1000px;
  height: fit-content;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d2d2d2;
}

footer > div > span:first-child {
  color: #86868b;
}

.modal {
  z-index: 9995;
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.modalContainer {
  position: absolute;
  display: block;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;
  margin: 0;
  width: 100%;
  height: 100%;
}

.modalScrim {
  position: fixed;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
}

.modalPanel {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  inset-inline-end: 0;
  transform: translateX(100%);
  transition: transform 1s;
  pointer-events: none;
}

.modalPanelShow {
  background: #000000;
  pointer-events: auto;
  transform: translateX(0);
}

.panelShow {
  height: calc(100% - 180px);
  margin-top: 97px;
  width: 100vw;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  transform: translateX(0);
  pointer-events: auto;
  position: sticky;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.panelShow::-webkit-scrollbar {
  display: none;
}

.panelShow > div {
  overflow-y: hidden;
  width: 1047px;
  height: 100%;
  margin-left: 100px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.panelShow > div:last-child {
  width: 100px;
}

.cancle {
  position: fixed;
  right: 25px;
  bottom: 25px;
  left: 25px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  pointer-events: auto;
  height: 40px;
  width: 980px;
}

.cancle > button {
  cursor: pointer;
  border: none;
  position: absolute;
  background: #fff;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.progress {
  position: absolute;
  left: 0;
  margin-left: 0px;
  width: 912px;
  height: 2px;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    white,
    white 1%,
    rgba(255, 255, 255, 0.4) 1%,
    rgba(255, 255, 255, 0.4)
  );
}

.visib {
  visibility: visible;
}

.moveRight {
  transform: translateX(0);
}

.moveLeft {
  transform: translateX(-100%);
}

.scroll {
  overflow-y: hidden;
}

/* travel part */
.headline {
  width: 100%;
  color: #cecece;
  position: relative;
  margin-top: 50px;
  z-index: 1;
}

.introTitle {
  line-height: 1.2;
  font-size: 56px;
  font-weight: 600;
}

.introPeoPle {
  margin-top: 12px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
}

.travelIntro {
  position: absolute;
  left: -85px;
  bottom: -45px;
  width: 80%;
  height: 480px;
  background-size: 80% 480px;
  background-repeat: no-repeat;
  background-image: url(./images/travel/Cover_travel.png);
}

.introSubTitle-travel {
  right: 0;
  position: absolute;
  width: fit-content;
  top: 50%;
  transform: translate(0, -50%);
}

.part2SubTitle-top {
  right: 0;
  top: 30%;
}

.part2SubTitle-bottom {
  text-align: right;
  right: 0;
  top: 60%;
}

.date {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 400;
}

.explanation {
  line-height: 1.3;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.012em;
  color: #86868b;
}

.explanation > strong {
  color: #cecece;
}

.travelIntro::after {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: -1px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 1)
  );
}

.travePart1 {
  position: absolute;
  left: 50px;
  top: 25%;
  width: 80%;
  height: 360px;
  background-size: 80% 360px;
  background-repeat: no-repeat;
  background-image: url(./images/travel/part1.png);
}

.travelPart2 {
  position: absolute;
  left: 50px;
  top: 60%;
  transform: translateY(-50%);
  width: 70%;
  height: 500px;
  background-size: 70% 500px;
  background-repeat: no-repeat;
  background-image: url(./images/travel/part2.png);
}

.modalIcon {
  margin-top: 5px;
  width: 16px;
}

/* fm part */
.FMIntro {
  filter: brightness(80%);
  position: absolute;
  left: 0px;
  bottom: -80px;
  width: 84%;
  height: 610px;
  background-size: 84% 610px;
  background-repeat: no-repeat;
  background-image: url(./images/fm/Cover_fm.png);
}

.setPosi {
  top: 50%;
  text-align: right;
  transform: translate(0, -50%);
}

.FMPart1 {
  filter: brightness(80%);
  position: absolute;
  left: 10%;
  top: 40%;
  transform: translate(0, -50%);
  width: 65%;
  height: 175px;
  background-size: 65% 175px;
  background-repeat: no-repeat;
  background-image: url(./images/fm/part1.png);
}

.introSubTitle-fm {
  left: 40%;
  position: absolute;
  width: fit-content;
  top: 70%;
  transform: translate(-50%, -50%);
}

.FMPart2 {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(0, -50%);
  width: 60%;
  height: 320px;
  background-size: 60% 320px;
  background-repeat: no-repeat;
  background-image: url(./images/fm/part2.png);
}

.fmSubTitle-top {
  right: 0;
  top: 40%;
}

.fmSubTitle-bottom {
  right: 105px;
  top: 60%;
}

.fmSubTitle-center {
  left: 13%;
  top: 60%;
}

.nongsaro {
  filter: brightness(80%);
  position: absolute;
  left: 36%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  background-color: #fff;
  border-radius: 12px;
}

.FMPart3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 80px;
  background-size: 100px 80px;
  background-repeat: no-repeat;
  background-image: url(./images/fm/part3.jpg);
}

/* toy part */
.toyIntro {
  position: absolute;
  left: 0%;
  top: 35%;
  transform: translate(0, -50%);
  width: 70%;
  height: 220px;
  background-size: 70% 220px;
  background-repeat: no-repeat;
  background-image: url(./images/toy/Cover_toy.png);
}

.toyHead {
  width: fit-content;
  margin-top: 0;
  position: absolute;
  top: 60%;
}

.base {
  filter: drop-shadow(1px 1px 15px #2d2d2d);
  position: absolute;
  top: 40%;
  width: 70%;
  height: 360px;
  background-size: 70% 360px;
  background-repeat: no-repeat;
  background-image: url(./images/toy/base.png);
}

.ball {
  left: 0;
}

.mbti {
  left: 50%;
  transform: translate(0, -50%);
}

.mbti-text {
  text-align: center;
  top: 75%;
  left: 66%;
  transform: translate(0, -50%);
}

.ball-text {
  text-align: center;
  top: 75%;
  left: 18%;
  transform: translate(0, -50%);
}

.base > img {
  left: calc(50% - 104px);
  top: calc(50% - 6px);
  transform: translate(-50%, -50%);
  position: absolute;
  height: 160px;
}

.ball {
  left: 0%;
  transform: translate(0, -50%);
}

.codepen {
  display: inline-block;
  position: relative;
  width: fit-content;
  padding: 3px 8px;
  background-color: #cecece;
  display: flex;
  margin: auto;
  margin-right: 0;
  margin-top: 8px;
  border-radius: 50px;
}

.codepen > img {
  width: 50px;
}

/* doling part */
.DolingIntro {
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: 75%;
  height: 360px;
  background-size: 75% 360px;
  background-repeat: no-repeat;
  background-image: url(./images/doling/part1.png);
}

.dolingTitle-top {
  text-align: right;
  top: 35%;
}

.DolingPart2 {
  filter: brightness(90%);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 16%;
  width: 42%;
  height: 370px;
  background-size: 42% 370px;
  background-repeat: no-repeat;
  background-image: url(./images/doling/part2.png);
}

.DolingPart3 {
  position: absolute;
  top: 25%;
  right: 28px;
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-image: url(./images/doling/part3.png);
}

.introSubTitle-doling {
  left: 40%;
  position: absolute;
  width: fit-content;
  top: 40%;
  transform: translate(0, -50%);
}

.introSubTitle2-doling {
  left: 40%;
  position: absolute;
  width: fit-content;
  top: 60%;
  transform: translate(0, -50%);
}

.introSubTitle3-doling {
  right: 0;
  position: absolute;
  width: fit-content;
  top: 50%;
  transform: translate(0, -50%);
}

/* yoohoo part */
.yoohooIntro {
  filter: brightness(80%);
  position: absolute;
  margin-top: 100px;
  top: 50%;
  transform: translate(0, -50%);
  left: 0px;
  width: 80%;
  height: 380px;
  background-size: 80% 380px;
  background-repeat: no-repeat;
  background-image: url(./images/yoohoo/part1.png);
}

.yoohooPart2 {
  filter: brightness(80%);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0px;
  width: 100%;
  height: 520px;
  background-size: 100% 520px;
  background-repeat: no-repeat;
  background-image: url(./images/yoohoo/part2.png);
}

.gradHide {
  height: 35%;
  background: black;
}

.yoohooGrid {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(0, -50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 82px;
  grid-row-gap: 40px;
  grid-auto-flow: column;
  margin: auto 0;
  justify-content: center;
  width: 800px;
}

.yoohooRight-top {
  left: 85%;
  top: 50%;
}

.notionIcon {
  margin-left: 5px;
}

.yoohooP {
  position: relative;
  color: #f5f5f7;
  display: inline-block;
  font-size: 20px;
  min-width: 5em;
}

.yoohooSubTitle {
  line-height: 1.2;
  font-size: 28px;
  font-weight: 600;
  color: rgb(206, 206, 206);
  display: inline-block;
  margin-bottom: 10px;
}

.yoohooSubText {
  line-height: 1.4;
  font-size: 18px;
  color: #86868b;
  font-weight: 600;
  letter-spacing: 0.011em;
  display: block;
}

.travelAni {
  animation: toUpTravel 1s forwards;
}

@keyframes toUpTravel {
  to {
    opacity: 1;
    top: 100px;
  }
}

.fmAni {
  animation: toUpFM 1s forwards;
}

@keyframes toUpFM {
  to {
    opacity: 1;
    top: 40px;
  }
}

.toyAni {
  animation: toUpToy 1.5s forwards;
}

@keyframes toUpToy {
  20% {
    opacity: 1;
  }
  50% {
    top: 36px;
  }
  to {
    opacity: 1;
    top: 200px;
  }
}

.yoohooAni {
  animation: toUpYoohoo 1s forwards;
}

@keyframes toUpYoohoo {
  to {
    opacity: 1;
    bottom: 20px;
  }
}

#titleTrans {
  opacity: 0;
}

.opacityAni {
  animation: toOpacity1 1s forwards;
}

@keyframes toOpacity1 {
  to {
    opacity: 1;
  }
}

.toRightArrow {
  animation: toRightArrow 1s forwards;
}

.toRightArrowDelay {
  animation: toRightArrow 1s forwards;
  animation-delay: 1s;
}

@keyframes toRightArrow {
  to {
    opacity: 1;
    right: 20px;
  }
}

#splendid,
#founded {
  overflow: hidden;
}

.modalAlert {
  font-size: 14px;
  pointer-events: none;
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: fit-content;
  height: fit-content;
  background-color: #d5d5d5;
  z-index: 99999;
  color: black;
  padding: 10px 30px;
  border-radius: 15px;
  opacity: 0;
  animation: alert 5s forwards;
  animation-delay: 1s;
}

@keyframes alert {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
